DEBUG=True
OPENAI_API_KEY=YOUR_OPEN_AI_KEY
MINIO_S3_ACCESS_KEY_ID=YOUR_MINIO_S3_ACCESS_KEY_ID
MINIO_S3_SECRET_ACCESS_KEY=YOUR_MINIO_S3_SECRET_ACCESS_KEY
MINIO_STORAGE_BUCKET_NAME=YOUR_MINIO_STORAGE_BUCKET_NAME
MINIO_S3_REGION_NAME=us-east-1
FILE_UPLOAD_STORAGE=local
MINIO_S3_ENDPOINT=YOUR_MINIO_S3_ENDPOINT