<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h2>Главная страница</h2>
    {% if user.is_authenticated %}
        <p>Вы вошли как {{ user.first_name }}</p>
        <p><a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не вошли</p>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
        <p>Еще нет аккаунта? <a href="{% url 'registration' %}">Зарегистрируйтесь</a></p>
    {% endif %}
</body>
</html>
