<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    {% if not user.is_authenticated %}
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Войти</button>
    </form>
    <p>Еще нет аккаунта? <a href="{% url 'registration' %}">Зарегистрируйтесь</a></p>
    {% else %}
    <h2>Вы уже вошли в систему</h2>
    <p><a href="{% url 'home' %}">На главную страницу</a></p>
    {% endif %}
</body>
</html>
